@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Font families */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'DWTheAntiquaB';
  font-style: normal;
  src: local(DWTheAntiquaB), url('fonts/DWTheAntiquaB-W6SemiBold.woff2') format('woff2'),
  url('fonts/DWTheAntiquaB-W6SemiBold.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
